<html >
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="C:\Users\houss\cv\src\app\infos\infos.component.css">
<title>CV</title>
</head>
<body>
<nav  class="navbar navbar-expand-lg navbar-light" style="background-color:#7DCEA0 ;">
<a class="navbar-brand" href="/infos">Houssem Daas</a>
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link" href="/infos" >Infos générales</a>
</li>
<li class="nav-item">
<a class="nav-link " href="/competences">Compétences</a>
</li>
<li class="nav-item">
  <a class="nav-link " href="/diplomes">Diplômes et formations </a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="/experience">Expérience professionnelle et stages </a>
    </li>
</ul>
<ul class="navbar-nav ml-auto" >
<li class="nav-item">
<a class="nav-link " href="/connect">Administration</a>
</li>
</ul>
</nav>

<div class="section">
  <div class="container">
    <div class="content-section">
      <div class="title">
        <h1>Mes Infos</h1>
      </div>
      <div class="content">
        <h3>Houssem Daas</h3>
        <p> 20 ans De bizerte un etudiant de iset nabeul et un grand passiant du coding.
          Extrêmement motivé pour développer constamment mes compétences et évoluer professionnellement. 
          Je suis confiant dans ma capacité à proposer des idées intéressantes pour des campagnes publicitaires inoubliables.

        </p>
        <div class="button">
          <a href="">plus D'info</a>
        </div>
      </div>
      <div class="social">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="image-section">
      <img src="../assets/img/pic1.png">
    </div>
  </div>
</div>
</body>
</html>

